<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Example of VisJs service for AngularJS</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/vis/dist/vis.min.css">
    <link rel="stylesheet" href="../dist/mapa-recorrido.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/vis/dist/vis.min.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="AppCtrl">
        <button ng-click="agregarNodo()">Agregar Nodo</button>
        <button ng-click="guardarPosicion()">Guardar posiciones de nodos</button>
        <button ng-click="restaurarPosiciones()">Restaurar posiciones de nodos</button>
        <button ng-click="addNextAtLast()">Agregar nodo al final</button>
        <label for="animacion">
            <input type="checkbox" id="animacion" ng-model="animacion" ng-change="toggleAnimacion()">
            Animación
        </label>
        <save-button label="Guardar" class="btn btn-primary"></save-button>
        <div id="network_vis" style="border: 1px solid black; height: 400px; margin: 20px;"></div>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Selección de Nodos y Arcos
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <dl>
                            <dt>Nodo Seleccionado: </dt>
                            <dd>{{ nodoSeleccionado }}</dd>
                        </dl>
                        <div>
                            <button ng-click="eliminarNodoSeleccionado()" class="btn btn-danger">Eliminar Nodo Seleccionado</button>
                        </div>
                        <dl>
                            <dt>Arco Seleccionado: </dt>
                            <dd>{{ arcoSeleccionado }}</dd>
                        </dl>
                        <div>
                            <button ng-click="eliminarArcoSeleccionado()" class="btn btn-danger">Eliminar Arco Seleccionado</button>
                            <button ng-click="cambiarColorArco()" class="btn btn-success">Cambiar color</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Información Referencial
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <div class="form-horizontal">
                            <div>
                                <label for="">Información Referencial</label>
                                <input type="text" ng-model="arcoSeleccionado.infRef" class="form-control">
                            </div>
                            <div>
                                <label for="">Distancia entre nodos</label>
                                <input type="text" ng-model="arcoSeleccionado.label" class="form-control">
                            </div>
                            <div class="text-center">
                                <input type="button" ng-click="updateInfRef()" value="Actualizar Informacion Referencial" class="btn btn-primary">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Orientación
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div ng-repeat="(key, value) in nodoSeleccionado.conexiones" class="form-group">Nodo <strong>" {{ key }} " </strong>por 
                          <select ng-model="nodoSeleccionado.conexiones[key]" class="form-control">
                            <option value="izq">Izquierda</option>
                            <option value="der">Derecha</option>
                            <option value="arr">Arriba</option>
                            <option value="abj">Abajo</option>
                          </select>
                        </div>
                        <button class="btn btn-primary" ng-click="refreshConexiones()">Actualizar todas las Conexiones</button>
                        <button class="btn btn-primary" ng-click="updateOrientacion()">Aplicar</button>
                        <button class="btn btn-primary" ng-click="validarOrientacion()">Validar Orientación entre Nodos</button>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#shortestPath" aria-expanded="false" aria-controls="shortestPath">
                          Camino más Corto
                        </a>
                      </h4>
                    </div>
                    <div id="shortestPath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                         <button class="btn btn-primary" ng-click="calcularDistancia()">Camino mas corto</button>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#localizacionServicio" aria-expanded="false" aria-controls="localizacionServicio">
                          Asignando servicios a un arco seleccionado
                        </a>
                      </h4>
                    </div>
                    <div id="localizacionServicio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div ng-show="arcoSeleccionado">
                          <h3>Arco seleccionado: {{ arcoSeleccionado.from }} a {{ arcoSeleccionado.to }}</h3>
                          <label for="direccion">Dirección</label>
                          <select name="direccion" ng-model="lugar_direccion" class="form-control">
                             <option value="der">Derecha</option>
                             <option value="izq">Izquierda</option>
                          </select>
                          <label for="idCategoria">Id Categoria
                              <input type="text" ng-model="lugar.idCategoria" class="form-control">
                          </label>
                          <label for="idCategoria">Categoria
                              <input type="text" ng-model="lugar.categoria" class="form-control">
                          </label>
                          <label for="idCategoria">Id Servicio
                              <input type="text" ng-model="lugar.idServicio" class="form-control">
                          </label>
                          <label for="idCategoria">Servicio
                              <input type="text" ng-model="lugar.servicio" class="form-control">
                          </label>
                          <label for="distancia">Distancia
                              <input type="text" ng-model="lugar.distancia" class="form-control">
                          </label>
                          <div class="form-group">
                            <button class="btn btn-primary" ng-click="guardarLugar()">Guardar Servicio</button>
                          </div>
                          <pre>{{ arcoSeleccionado.lugares | json }}</pre>
                        </div>
                        <div ng-hide="arcoSeleccionado">
                          <h1 class="text-muted"> Seleccione un arco</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
            </div>
            <div class="col-sm-6">
                <div>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#nodeModel" role="tab" data-toggle="tab" ng-click="getNodeData()">Modelo Nodo</a></li>
                    <li role="presentation"><a href="#edgeModel" role="tab" data-toggle="tab" ng-click="getEdgeData()">Modelo Arco</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="nodeModel">
                        <pre>{{ nodeData | json }}</pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="edgeModel">
                        <pre>{{ edgeData | json }}</pre>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    <!-- Panel para la localización de servicios en un arco seleccionado -->
    <legend>Visualización cuando se agregan servicios a un arco seleccionado</legend>

        <agregar-servicio arco="arcoSeleccionado" listado-servicios="listadoServicios"></agregar-servicio>

            <div class="localizacion-servicio vertical">
              <div class="panel-first">
                <div ng-repeat="item in arcoSeleccionado.lugares.izq track by $index">
                  <servicio-select direccion="left" lugar="item"></servicio-select>
                </div>
              </div>
              <div class="panel-edge">
                <div class="arco"></div>
                <div class="nodo1">{{ arcoSeleccionado.from }}</div>
                <div class="nodo2">{{ arcoSeleccionado.to }}</div>
              </div>
              <div class="panel-second">
                <div ng-repeat="item in arcoSeleccionado.lugares.der">
                  <servicio-select direccion="right" lugar="item"></servicio-select>
                </div>
              </div>
            </div>

            <div class="localizacion-servicio horizontal">
              <div class="panel-first">
                <div ng-repeat="item in arcoSeleccionado.lugares.izq track by $index">
                  <servicio-select lugar="item" direccion="top"></servicio-select>
                </div>
              </div>
              <div class="panel-edge">
                <div class="arco"></div>
                <div class="nodo1">{{ arcoSeleccionado.from }}</div>
                <div class="nodo2">{{ arcoSeleccionado.to }}</div>
              </div>
              <div class="panel-second">
                <div ng-repeat="item in arcoSeleccionado.lugares.der track by $index">
                  <servicio-select direccion="bottom" lugar="item"></servicio-select>
                </div>
              </div>
            </div>
    </div>


    <script src="../dist/mapa-recorrido.js"></script>
    <script src="js/app.js"></script>
</body>
</html>