<div class="popover {{ direccion }} in" style="position: relative; margin: 20px 0; min-height: 9 0px; display: block;">
    <div class="arrow"></div>
    <div class="popover-content">
        <div>
            <button class="btn btn-xs btn-danger" style="position: absolute; right: -20px; top: -20px;" ng-click="remove()">X</button>
            <div class="form-group">
              <select ng-model="lugar.idCategoria" class="form-control input-sm" ng-change="updateServicios()">
                <option ng-repeat="categ in categorias" value="{{ categ.id }}">{{ categ.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <select ng-model="lugar.idServicio" class="form-control input-sm" ng-chage="udpatePropiedades()">
                <option ng-repeat="serv in servicios" value="{{ serv.id }}">{{ serv.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" ng-model="lugar.distancia" ng-change="" class="form-control input-sm" placeholder="Distancia">
            </div>
        </div>
    </div>
</div>
